# SITE
DJANGO_DEBUG=True
SITE_URL=http://127.0.0.1:8001
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8001,http://localhost:8001

SECRET_KEY=YOUR_KEY

#PSQL
DB_NAME=YOUR_NAME
DB_USER=YOUR_USERNAME
DB_PASSWORD=YOUR_PASSWORD
DB_HOST=localhost
DB_PORT=5433

# REDIS
REDIS_URL=redis://127.0.0.1:6379/1

# CELERY
CELERY_BROKER_URL=redis://127.0.0.1:6379/1
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1
